img {
  display: block;
  margin-left: 39%;
  height: 25%;
}

header {
background-color: #333;
position: fixed;
margin-top: 0;
left: 0;
right: 0;
height: 80px;
display: flex;
align-items: center;
box-shadow: 0 0 25px 0 black;
}

header * {
display: inline;

}

header li {
/*margin: 20px;*/
padding: 16px 16px;
}

header li a {
margin-top: 30px;
color: white;
text-decoration: none;
}

header li a:hover {
  background-color: #111;
}
