#topmost-bar{
background-color: #020e21;
height: 35px;
}

#top-bar{
background-color: #404f72;
height: 35px;
}

#logo {
  display: block;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 2%;
}


header {
margin-top: 0;
left: 0;
right: 0;
height: 80px;
display: flex;
justify-content: center;
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
}

header * {
display: inline;
}

header ul{
  width: 100%;
  display: flex;
  justify-content: space-evenly ;
}

header li {
padding: 16px 16px;
}

header li a {
margin-top: 30px;
color: black;
text-decoration: none;
}

header li a:hover {
  color: #818791;
}

@media screen and (max-width: 600px) {
  ul.nav li.class,
  ul.nav li {float: none;}
}
