<div>
  <label for="name">Update Name</label>
  <input [(ngModel)]="childCurrentEdit.itemName" name="name">
  <label for="brand">Update Brand</label>
  <input [(ngModel)]="childCurrentEdit.type" name="type">
  <label for="price">Update Price</label>
  <input [(ngModel)]="childCurrentEdit.price" name="price" type="number">
  <label for="newQuantity">Update Quantity</label>
  <input [(ngModel)]="childCurrentEdit.quantity" type="number" name="newQuantity" placeholder="newQuantity">
</div>
<button (click)="finishedEditing()">Change </button>
